<li class="amber accent-2 teal-text text-darken-4 z-depth-3 collection-item">
	{{burger_name}} {{#unless devoured}}
	<div class="eat-btn">
		<button class="btn-small btn-floating waves-effect waves-light pulse eat-burger tooltipped" data-position="right" data-tooltip="Eat me..."
		 data-id="{{id}}">Eat</button>
	</div>
	{{/unless}}

</li>
